//cores
// $primary: #1b7296;
$primary: #004a80;
$secondary: #6c757d;

//textos - espessura
$texto-espessura-fino: 300;
$texto-espessura-normal: 400;
$texto-espessura-grosso: 700;

//textos - tamanho
$texto-tamanho-muito-grande: 3.5rem;
$texto-tamanho-grande: 2rem;
$texto-tamanho-medio: 1.5rem;
$texto-tamanho-normal: 1rem;
$texto-tamanho-pequeno: 0.8rem;
$texto-tamanho-muito-pequeno: 0.6rem;

//box - tamanhos
$box-pequeno: 400px; 
$box-medio: 800px; 
$box-grande: 1200px; 
$box-gigante: 1800px; 

//box shadow
$box-shadow: 2px 3px 6px rgba(0,0,0, 0.16), 2px 3px 6px rgba(0,0,0, 0.23);